[Unit]
Description=ShowPlayPI USB configuration drive
After=local-fs.target showplaypi-media.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/showplaypi-usb-gadget start
ExecStop=/usr/local/sbin/showplaypi-usb-gadget stop

[Install]
WantedBy=multi-user.target
